*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url(../img/fondo.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    color: #f7fff7;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    padding: 0px;
}

header .logo img{
    height: 100px;
    width: auto;
    position: fixed;
    padding-bottom: 20px;
}

 nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 45px;
    box-sizing: border-box;
    background-color: #163554;
    z-index: 1; 
    border-bottom: none;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
}


nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #bec6cc;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(15, 14, 48, 0.224);
    border-radius: 6px;
}

section{
    padding-left: 120px;
    padding-right: 120px;
    margin: 160px 140px;
}

legend{
    box-shadow: 0px 0px 125px 18px rgba(0,0,0,0.43);
    -webkit-box-shadow: 0px 0px 125px 18px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 125px 18px rgba(0,0,0,0.43);
    border-radius: 26px;
}

section h1{
    font-size: 60px;
    font-family:'Cinzel', serif;
    text-align: center;
    padding-top: 10px;
    color: #0a2239;
}

section form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    padding: 20px;
    max-width: 1000px;
    
    margin-left: auto;
    margin-right: auto;
}

.contact-form{
    display: flex;
    flex-direction: column;
    
    width: 320px;
    margin: 18px;
}

.contact-form label{
    font-size: 27px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;

    color: #0a2239;
}

.contact-form input{
    font-size: 22px;
    height: 30px;
    padding-left: 8px;
    border: 2px solid #0a2239 ;
    border-radius: 5px;
}

.contact-form select{
    font-size: 22px;
    height: 30px;
    padding-left: 8px;

    border: 2px solid #0a2239;
    border-radius: 5px;
}

.contact-area{
    display: flex;
    flex-direction: column;

    width: 327px;
    margin: 18px
}

.contact-area label{
    font-size: 27px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;

    color: #0a2239;
}

textarea{
    font-size: 22px;

    max-width: 100%;
    height: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.boton{
    display: flex;
    justify-content: flex-end;
    padding-right: 130px;
    padding-bottom: 30px;
}

.boton input{
    font-size: 18px;
    padding: 6px;
    border: 2px solid #0a2239;
    border-radius: 5px;
}

footer {
    width: 100%;
    background-color: #163554;
    color: #f7fff7;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
 }
 
 footer .contenedor{
     display: flex;
 }
 
 footer .contenedor .caja{ 
     flex: 1 1 25rem;
 }
 
 footer .contenedor .caja p{
     font-size: 25px;
     color: #bec6cc;
     padding: 13px 0;
     margin-left: 40px;
     margin-top: 35px;
     font-family: 'Cinzel', serif;
 }
 
 footer .contenedor .caja a .logo{
     height: 150px;
     width: auto;
     margin-right: 190px;
     margin-left: 100px;
     margin-bottom: 40px;
     padding-top: 30px;
 }
 
 footer .contenedor .caja .caja-rs{
     display: inline;
     float: right;
     margin-right: 50px;
 }
 
 footer .contenedor .caja h3{
     font-size: 20px;
     font-family: 'Cinzel', serif;
     margin-top: 45px;
     margin-bottom: 10px;
     color: #a9b4c2;
 }
 
 footer .contenedor .caja img{
     float: right;
     margin-right: 15px;
 
 }
 
 footer .contenedor .caja a img{
     height: 44px;
     width: auto;
     display: inline;
     margin-left: 0px;
     margin-top: 0px;
 }