*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url(../img/fondo.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    color: #f7fff7;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    padding: 0px;
}

.navbar-brand img{
        height: 90px;
        width: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-transition: 0.7s;
        transition: 0.7s;
}
    
.navbar-brand img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar{
    padding: 0%;
    height: 100px;
}

.container-fluid{
    top: 0;
    width: 100%;
    padding: 10px 45px;
    box-sizing: border-box;
    background-color: #163554; 
    border-bottom: none;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
}

nav ul li a:hover{
    background: rgba(15, 14, 48, 0.224);
    border-radius: 6px;
}

#navbarNav {
    justify-content: flex-end;
}

.nav-item a p{
    color: #bec6cc;
    padding: 10px;
    padding-top: 28px;
    font-weight: bold;
    font-size: 16px;
}

