*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
     }

body{
    background-image: url(../img/fondo.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    color: #f7fff7;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    padding: 0px;
}

.navbar-brand img{
    height: 90px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.navbar-brand img:hover{
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.navbar{
padding: 0%;
height: 100px;
}

.container-fluid{
top: 0;
width: 100%;
padding: 10px 45px;
box-sizing: border-box;
background-color: #163554; 
border-bottom: none;
box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
-webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
}

nav ul li a:hover{
background: rgba(15, 14, 48, 0.224);
border-radius: 6px;
}

#navbarNav {
justify-content: flex-end;
}

.nav-item a p{
color: #bec6cc;
padding-top: 25px;
font-weight: bold;
font-size: 16px;
}

section{
    padding-top: 40px;
    margin: 100px;
}
section h1{
    font-size: 63px;
    font-family:'Cinzel', serif;
    padding-bottom: 48px;
    margin-left: 240px;
    color: #0a2239;
}

section .p1{
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 100px;
    margin-left: 245px;
    color: #0a2239;
}

section .contenedor{
    display: flex;
}

section .contenedor img{
    height: 520px;
    width: auto;
    margin-right: 110px;
}

section div p{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    padding-top: 140px;
    margin-left: 60px;
    margin-right: 20px;
    color: #0a2239;
}

section h4{
    font-size: 30px;
    font-family:'Cinzel', serif;
    padding-top: 80px;
    font-style: oblique;
    margin-left: 30px;
    color: #0a2239;
}



footer {
    width: 100%;
    background-color: #163554;
    color: #f7fff7;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
 }
 
 footer .contenedor{
     display: flex;
 }
 
 footer .contenedor .caja{ 
     flex: 1 1 25rem;
 }
 
 footer .contenedor .caja p{
     font-size: 25px;
     color: #bec6cc;
     padding: 13px 0;
     margin-left: 40px;
     margin-top: 35px;
     font-family: 'Cinzel', serif;
 }
 
 footer .contenedor .caja a .logo{
     height: 150px;
     width: auto;
     margin-right: 190px;
     margin-left: 100px;
     margin-bottom: 40px;
     padding-top: 30px;
 }
 
 footer .contenedor .caja .caja-rs{
     display: inline;
     float: right;
     margin-right: 50px;
 }
 
 footer .contenedor .caja h3{
     font-size: 20px;
     font-family: 'Cinzel', serif;
     margin-top: 45px;
     margin-bottom: 10px;
     color: #bec6cc;
 }
 
 footer .contenedor .caja img{
     float: right;
     margin-right: 15px;
 
 }
 
 footer .contenedor .caja a img{
     height: 44px;
     width: auto;
     display: inline;
     margin-left: 0px;
     margin-top: 0px;
 }