*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
     }
 
body{
    background-color: #8d6346;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f7fff7;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    padding: 0px;
     }

header .header-logo img{
    width: 320px;
    height: auto;
    position: fixed;
    z-index: 1;
}     

nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 45px;
    box-sizing: border-box;
    background-color: #163554; 
    border-bottom: none;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
}


nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #bec6cc;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(15, 14, 48, 0.224);
    border-radius: 6px;
}

main section h1{
    font-size: 85px;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding-top: 300px;
    color: #c0c8d3;
    font-weight: bold;
}

main section p{
    font-size: 40px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-top: 30px;
    font-style: italic;
    color: #b7c0cd;
    font-weight: bold;
}

main{ 
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}

footer {
   width: 100%;
   background-color: #163554;
   color: #f7fff7;
   text-transform: uppercase;
   padding-top: 40px;
   padding-bottom: 40px;
   align-items: center;
}

footer .contenedor{
    display: flex;
}

footer .contenedor .caja{ 
    flex: 1 1 25rem;
}

footer .contenedor .caja p{
    font-size: 25px;
    color: #bec6cc;
    padding: 13px 0;
    margin-left: 40px;
    margin-top: 35px;
    font-family: 'Cinzel', serif;
}

footer .contenedor .caja a .logo{
    height: 150px;
    width: auto;
    margin-right: 190px;
    margin-left: 100px;
    margin-bottom: 40px;
    padding-top: 30px;
}

footer .contenedor .caja .caja-rs{
    display: inline;
    float: right;
    margin-right: 50px;
}

footer .contenedor .caja h3{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    margin-top: 45px;
    margin-bottom: 10px;
    color: #bec6cc;
}

footer .contenedor .caja img{
    float: right;
    margin-right: 15px;

}

footer .contenedor .caja a img{
    height: 44px;
    width: auto;
    display: inline;
    margin-left: 0px;
    margin-top: 0px;
}

/*-----------------------------------------------COCKTAILS-----------------------------------------*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
     }

body{
    background-image: url(../img/fondo.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    color: #f7fff7;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    padding: 0px;
 }

header .logo img{
    height: 100px;
    width: auto;
    position: fixed;
    padding-bottom: 20px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

header .logo img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

 nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 45px;
    box-sizing: border-box;
    background-color: #163554; 
    z-index: 1;
    border-bottom: none;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.83);
}


nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #bec6cc;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(15, 14, 48, 0.224);
    border-radius: 6px;
}

section{
    width: 90%;
    max-width: 1180px;
    margin: 10px auto;
    padding: 145px 0px; 
}

.gintonic{
    margin: 20px;
    padding: 50px 0px;
    display:grid ;
    grid-template-areas: 
        "gin-titulo gin-titulo img-gin"
        "descripcion-gintonic descripcion-gintonic img-gin"
        "elaboracion-gintonic elaboracion-gintonic elaboracion-gintonic";

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 18px;
}

.gin-titulo{
    grid-area: gin-titulo;
}

.img-gin{
    grid-area: img-gin;
}

.descripcion-gintonic{
    grid-area: descripcion-gintonic;

    display: flex;
    align-items: center;
}

.elaboracion-gintonic{
    grid-area: elaboracion-gintonic;
}

.gin-titulo{
    padding-bottom: 44px;
}

.gintonic  h1{
    font-family:'Cinzel', serif;
    font-size: 72px;
    color: #0a2239;
    text-align: center;
}

.gintonic aside img{
    width: 400px;
    height: 400px;
    border-radius: 9px;
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    transition: all 400ms ease;
}

.gintonic aside img:hover{
    transform: translateY(-4%);
}

.descripcion-gintonic{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #0a2239;
    padding-bottom: 30px;
    margin-left: 50px;
}

.descripcion-gintonic td{
    padding: 4px;
}

.elaboracion-gintonic{
    text-align: center;
}

.elaboracion-gintonic h3{
    font-size: 40px;
    font-family: 'Cinzel', serif;
    padding-top: 37px;
    color: #0a2239;
}

.gintonic h4{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #0a2239;
}

.elaboracion-gintonic .pasos{  
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #0a2239;
    padding: 4px;
}

.pasos p{
    padding: 3px;
}

.dry-martini{
    margin: 20px;
    padding: 50px 0px;
    display:grid ;
    grid-template-areas: 
        "martini-titulo martini-titulo img-martini"
        "descripcion-martini descripcion-martini img-martini"
        "elaboracion-martini elaboracion-martini elaboracion-martini";

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 18px;
}

.martini-titulo{
    grid-area: martini-titulo;
}

.img-martini{
    grid-area: img-martini;
}

.descripcion-martini{
    grid-area: descripcion-martini;
}

.elaboracion-martini{
    grid-area: elaboracion-martini;
}

.martini-titulo h1{
    font-family:'Cinzel', serif;
    font-size: 65px;
    color: #0a2239;
    padding: 40px 0px;
    text-align: center;
}

.dry-martini aside img{
    height: 400px;
    width: auto;
    border-radius: 9px;
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    transition: all 400ms ease;
}

.dry-martini aside img:hover{
    transform: translateY(-4%);
}

.descripcion-martini{ 
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #0a2239;
    padding-bottom: 30px;
    margin-left: 50px;
}

.descripcion-martini td{
    padding: 4px;
}

.elaboracion-martini{
    text-align: center;
}

.elaboracion-martini h3{
    font-size: 40px;
    font-family: 'Cinzel', serif;
    color: #0a2239;
    padding-top: 34px;
}

.pasos p{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #0a2239;
    padding: 3px;
}

.negroni{
    margin: 20px;
    padding: 50px 0px;
    display:grid ;
    grid-template-areas: 
        "negroni-titulo negroni-titulo img-negroni"
        "descripcion-negroni descripcion-negroni img-negroni"
        "elaboracion-negroni elaboracion-negroni elaboracion-negroni";

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 18px;
}

.negroni-titulo{
    grid-area: negroni-titulo;
}

.img-negroni{
    grid-area: img-negroni;
}

.descripcion-negroni{
    grid-area: descripcion-negroni;
}

.elaboracion-negroni{
    grid-area: elaboracion-negroni;
}

.negroni h1{
    font-family:'Cinzel', serif;
    font-size: 65px;
    color: #0a2239;
    padding-bottom: 8px;
    text-align: center;
}

.negroni aside img{
    width: 400px;
    height: 400px;
    border-radius: 9px;
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.41);
    transition: all 400ms ease;
}

.negroni aside img:hover{
    transform: translateY(-4%);
}

.descripcion-negroni{
    font-family: 'Cinzel', serif;
    font-size: 22px;
    color: #0a2239;
    padding-bottom: 30px;
    margin-left: 50px;
}

.descripcion-negroni td{
    padding: 4px;
}

.elaboracion-negroni h3{
    font-size: 40px;
    font-family: 'Cinzel', serif;
    padding-top: 37px;
    color: #0a2239;
}

.elaboracion-negroni{
    text-align: center;
}

.negroni h4{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: #0a2239;
    padding-bottom: 9px;
}

.elaboracion-negroni .pasos{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #0a2239;
    padding: 4px;
}

.pasos p{
    padding: 3px;
}

footer {
    width: 100%;
    background-color: #163554;
    color: #f7fff7;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
 }
 
 footer .contenedor{
     display: flex;
 }
 
 footer .contenedor .caja{ 
     flex: 1 1 25rem;
 }
 
 footer .contenedor .caja p{
     font-size: 25px;
     color: #bec6cc;
     padding: 13px 0;
     margin-left: 40px;
     margin-top: 35px;
     font-family: 'Cinzel', serif;
 }
 
 footer .contenedor .caja a .logo{
     height: 150px;
     width: auto;
     margin-right: 190px;
     margin-left: 100px;
     margin-bottom: 40px;
     padding-top: 30px;
 }
 
 footer .contenedor .caja .caja-rs{
     display: inline;
     float: right;
     margin-right: 50px;
 }
 
 footer .contenedor .caja h3{
     font-size: 20px;
     font-family: 'Cinzel', serif;
     margin-top: 45px;
     margin-bottom: 10px;
     color: #bec6cc;
 }
 
 footer .contenedor .caja img{
     float: right;
     margin-right: 15px;
 
 }
 
 footer .contenedor .caja a img{
     height: 44px;
     width: auto;
     display: inline;
     margin-left: 0px;
     margin-top: 0px;
 }


