*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url(../img/fondo.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    color: #f7fff7;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    padding: 0px;
}